<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home - HR-Web-App</title>
</head>
<body>
    <h1>Welcome to Your Home Page</h1>

    {% if user_id %}
        <form method="POST" action="{{ url_for('user_home') }}">
            <button type="submit" name="check_in">Log Attendance</button>
        </form>

        <form method="post" action="{{ url_for('user_home') }}">
            <button type="submit" name="check_out">Check Out</button>
        </form>
        <form method="post">
            <!-- Other form elements go here -->
    
            <button type="submit" name="logout">Log Out</button>
        </form>
    <!-- index.html and other templates -->

    <a href="{{ url_for('user_profile') }}">View Profile</a>



    {% endif %}
</body>
</html>