<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home - HR-Web-App</title>
</head>
<body>
    <h1>Welcome to Your Home Page</h1>

    {% if user_id %}
        <form method="get" action="{{ url_for('attendance') }}">
            <button type="submit">Leimaa sisään</button>
        </form>

        <form method="get" action="{{ url_for('checkout_reason') }}">
            <button>Leimaa ulos</button>
        </form>
        
        <form method="post" action="{{ url_for('user_home') }}">
            <button type="submit" name="logout">Kirjaudu ulos</button>
        </form>

        <form method="get" action="{{ url_for('user_profile') }}">
            <button type="submit">Työaikakalenteri</button>
        </form>
    {% endif %}
</body>
</html>
